#container {
    float: right;
    background-color: tomato;
    width: 100%;
    text-align: center;
  }
  
  .writeUpContainer {
    float: left;
    height: 575px;
    width: 575px;
  }
  
  .title {
    float: center;
  }
  
  .secondTitle {
    float: center;
   
    margin: auto;
    border-radius: 20px;
  }
  
  .inputText {
    float: center;
    width: 252px;
    height: 100px;
    color: black;
    font-weight: bolder;
    font-size: larger;
    border-radius: 20px;
    border: 5px solid black;
    font-style: italic;
  }
  
  .gridContainer {
    margin-top: 25px;
    margin-right: 40px;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid black;
    border-radius: 5px;
    height: 575px;
    width: 575px;
    float: right;
  }
  
  .sound {
    background-color: black;
    border: 1px solid white;
  }
  
  .color {
    background-color: rgb(89, 192, 29);
    border: 1px solid black;
  }
  